<p>
  <b>Customer:</b>
  <%=h @invoice.customer_id %>
</p>

<p>
  <b>Place:</b>
  <%=h @invoice.place %>
</p>

<p>
  <b>Date:</b>
  <%=h @invoice.date %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>