<h1>Editar detalles de proveedor</h1>

<% form_for(@supplier) do |f| %>

  <div id="submenu">
    <%= f.submit 'Guardar Proveedor' %>
  </div>

  <table>

  <caption>
    <%= f.error_messages %>
  </caption>

  <tbody>
    <tr>
      <th width="25%"><%= f.label 'Nombre' %></th>
      <td><%= f.text_field :name, :size => 50 %></td>
    </tr>
    <tr>
      <th><%= f.label 'Descripcion' %></th>
      <td><%= f.text_area :description, :rows => 3, :cols => 49 %></td>
    </tr>
  </tbody>

  </table>

<% end %>
